/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body * {

    transition: 0.5s;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    height: 100vh;
    width: 100vw;
    background: url(img/bg.png);
    background-color: black;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}



/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {

    color: white;
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.main_description {
    width: 40%;
    position: absolute;
    top: 45%;
    left: 15%;
}

.main_description>b {
    color: #761616;
}

.mainDescription_when_PROJECTS {
    top: 10%;
}

.mainDescription_when_HIDEN {
    top: -50%;
}


    .main_description {
        width: 90%;
        left: 5%;
    }

    .mainDescription_when_PROJECTS {
        top: -50%;
    }
    

.main_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    top: 10%;
    text-align: end;
}

.nav_link {
    opacity: 0.6;
    margin-top: 15px;
}

.nav_link:hover {
    scale: 1.2;
}

.nav_link_active {
    font-size: 1.2em;
    opacity: 1;
}

.ProjectElement {
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    background-color: white;
    width: 100%;
    height: 300px;
}

.Project_Title {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 40px;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Project_Title_Logo_Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.Project_Title_Logo {
    width: 25px;
    height: 25px;
}

.Project_Description {
    display: flex;
    width: 65%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 30px;
    font-size: 1.2em;
    justify-content: center;
}


.Project_Contacts {
    display: flex;
    flex-direction: row;
}

.Project_Contacts svg {
    width: 50px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
}

.Project_Contacts svg:hover {
    scale: 1.1;
}

.contacts {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 45px;
    justify-content: center;
    flex-direction: column;
    transform: translate(0, 100%);
}

.Project_Contact_Icon {
    width: 50px;
}

.Project_Right_Side img {
    height: 120px;
    max-width: 200px;
}

.Project_Right_Side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px 0 0;
}

@media (max-width:1500px) {
    body {
        font-size: 16px;
    }
}
@media (max-width:1280px) {
    body {
        font-size: 14px;
    }
}
@media (max-width:780px) {
    body {
        font-size: 12px;
    }.ProjectElement {
        height: 400px;
    }
    
    .Project_Right_Side {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px 50px 0px;
    }
    .Project_Right_Side img {
        height: 100px;

    }
    .Project_Contacts svg {
        width: 40px !important; 
        height: 40px !important;
    }
    .Project_Description {
        width: 100%;
        padding: 125px 10px 90px 10px;
        line-height: 1.2;
    }
}